PORT=8081

POSTGRES_HOST=db-user
POSTGRES_PORT=5432
POSTGRES_DB=user_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

REDIS_HOST=redis-user
REDIS_PORT=6379
REDIS_PASSWORD=

KAFKA_BROKERS=kafka:9092
