GRPC_PORT=50052

POSTGRES_HOST=db-user
POSTGRES_PORT=5432
POSTGRES_DB=userdb
POSTGRES_USER=user
POSTGRES_PASSWORD=user_password

REDIS_HOST=redis-user
REDIS_PORT=6379
REDIS_PASSWORD=

KAFKA_BROKERS=kafka:9092
